main {
    background-color: lightsalmon;
    border: 15px solid lightblue;
    width: 300px;
    padding: 50px;
    margin: 20px;
    text-align: center;
    color: navy;
}

p {
    text-align: left;
}

li {
    text-align: left;
}